@font-face {
  font-family: "Didot";
  src: url("../fonts/Didot.ttc");
}

@font-face {
  font-family: "BeVietnam";
  src: url("../fonts/BeVietnam-Regular.ttf");
}

@font-face {
  font-family: "BeVietnam-bold";
  src: url("../fonts/BeVietnam-Bold.ttf");
}

@font-face {
  font-family: "ChaparralPro-Bold";
  src: url("../fonts/ChaparralPro-Bold.otf");
}

@font-face {
  font-family: "ChaparralPro-BoldIt";
  src: url("../fonts/ChaparralPro-BoldIt.otf");
}

@font-face {
  font-family: "Charter";
  src: url("../fonts/Charter.ttc");
}

@font-face {
  font-family: "FuturaPTBook";
  src: url("../fonts/FuturaPTBook.otf");
}
