@font-face {
  font-family: "Didot";
  src: url("../fonts/Didot.ttc");
}

@font-face {
  font-family: "BeVietnam";
  src: url("../fonts/BeVietnam-Regular.ttf");
}

@font-face {
  font-family: "BeVietnam-bold";
  src: url("../fonts/BeVietnam-Bold.ttf");
}

@font-face {
  font-family: "ChaparralPro-Bold";
  src: url("../fonts/ChaparralPro-Bold.otf");
}

@font-face {
  font-family: "ChaparralPro-BoldIt";
  src: url("../fonts/ChaparralPro-BoldIt.otf");
}

@font-face {
  font-family: "Charter";
  src: url("../fonts/Charter.ttc");
}

.margin-center {
  margin: 0 auto;
}

a {
  text-decoration: none;
}

* {
  color: #694F45;
  box-sizing:border-box;
}

.hidden {
  opacity: 0;
}

/* header */

.hero-nav {
  position: absolute;
}

nav {
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 10px 40px 0;
  animation: fadeInDown 2s ease-in-out 0s forwards;
}

nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
}

nav ul li {
  display: block;
  margin-left: 120px;
  font-family: 'Didot';
  font-size: 25px;
  font-weight: bold;
}

nav ul a {
  color: inherit;
}

.logo {
  width: 95px;
}

.hero-bg {
  height: 900px;
  background-image: url('../pics/home/hero-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  animation: fadeIn 1.5s ease-in-out 0.5s forwards;
}

.main-visual-wrapper {
  position: relative;
}

.hero-name {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  font-family: 'Didot';
  font-weight: normal;
  font-size: 69px;
  text-align: center;
  animation: fadeIn 1.5s ease-in-out 0s forwards ;
}

@keyframes  {
from{

}
to {

}
}

@keyframes fadeInDown {
from {
  opacity: 0;
  transform: translateY(-30px);
}
to {
  opacity: 1;
  transform: translateY(0px);
}
}

@keyframes zoomIn {
from {
  transform: scale(0.7);
}
to {
  transform: scale(1);
}
}

@keyframes fadeIn {
from {
  opacity: 0;
}
to {
  opacity: 1;
}
}

@keyframes fadeInUp {
from {
  transform: translateY(30px);
}
to {
  transform: translateY(0);
  opacity: 1;
}
}

@keyframes fadeInRight {
  from {
    opacity: .8;
    transform: translateX(15%);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes picReveal {
from{
  filter: grayscale(100%);
}
to {
  filter: grayscale(0%);

}
}

.middle-name {
  font-size: 49px;
  font-family: 'fairwater-deco-serif';
}

.greeting {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
  font-size: 30px;
  font-family: 'Didot';
  margin-bottom: 30px;
}

.category {
  padding-top: 70px;
  margin-left: 120px;
  font-family: 'ChaparralPro-BoldIt';
  font-size: 23px;
}

.category ul {
  display: flex;
}

.category ul li {
  margin-right: 40px;
  border-radius: 17px;
  padding: 5px 25px;
}

.category ul a {
  line-height: 40px;
}

.category .active {
  border-radius: 17px;
  padding: 5px 25px;
  background-color: #694F45;
  color: #ffffff;
}

/* style slide */
.slideshow-container {
  max-width: 1440px;
  position: relative;
  margin-top: 40px;
}

.slide {
  display: flex;
  justify-content: center;
}

.slide-img-wrapper,
.description {
  margin-left: 20px;
  margin-right: 20px;
}

.description {
}

.description h2, .description h3, .description p, .description a {
  opacity: 0;
}

.description h2 {
  font-family: 'ChaparralPro-Bold';
  font-size: 50px;
  animation: fadeInUp 1s ease-in-out 0.5s forwards;
}

.description h3 {
  font-family: 'Charter';
  font-weight: 'Roman';
  font-size: 20;
  animation: fadeInUp 1s ease-in-out 0.7s forwards;


}

.description p {
  max-width: 250px;
  font-family: 'BeVietnam';
  font-size: 17px;
  line-height: 19px;
  color: #707070;
  margin-top: 45px;
  margin-bottom: 20px;
  animation: fadeInUp 1s ease-in-out 1s forwards;
}

.description a {
  font-family: 'ChaparralPro-BoldIt';
  font-size: 23px;
  animation: fadeInUp 1s ease-in-out 0.5s forwards;

}

.animation-reverse {
  animation-direction: reverse;
}


.slide-img-wrapper img {
  margin: 0;
  padding: 0;
}

.slide-img-wrapper {
  width: 717px;
  height: 448px;
  z-index: -1;
  box-shadow: #d5d5d5 3px 5px 20px;
  animation: fadeInRight 1s ease-in-out 0s 1;
}

/* next & prev btn */
.next, .prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -27px;
  padding: 0 20px;
  transition: 0.6s ease;
  user-select: none;
}

.next {
  right: 0;
}

/* dots */
.dot-wrap {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.dot {
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin: 0 5px;
  background-color: #E2E2E2;
  opacity: 0.7;
}

.active, .dot:hover {
  background-color: #D6A173;
}

/* footer */
footer {
  background-image: url('../pics/home/footer-bg.png');
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  height: 800px;
  display: flex;
  flex-direction: column-reverse;
}

.send-me {
  text-align: center;
  margin-bottom: 50px;
}

footer p {
  font-family: 'Didot';
  font-size: 38px;
  color: #fff9f9;
  margin-bottom: 20px;
}

footer h3 a {
  font-family: 'BeVietnam';
  font-size: 28px;
  color: #f5ebeb;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: white;
}

footer nav a {
  color: #f5ebeb;
}

.copyright {
  text-align: right;
  padding-right: 40px;
  padding-bottom: 20px;
  color: white;
}

/* about */

.about {
    padding-top: 150px;
}

.about h3 {
  text-align: center;
  font-size: 23px;
  font-family: 'Didot';
  font-style: italic;
  margin-bottom: 50px;
}

.about-img-wrap {
  display: flex;
  justify-content: center;
  animation: fadeInUp 2s ease-in-out forwards ;
  border-radius: 5px;
}

.about-img-wrap img {
  border-radius: 5px;
  /* box-shadow: 3px 1px 15px #c3c3c3; */
}

.about-detail-wrap {
  width: 75%;
  margin: auto;
  padding-top: 50px;
}

.about article {
  margin-bottom: 30px;
}

.about h2 {
  font-family: 'Didot';
  font-size: 20px;
  font-weight: bold;
  color: #8B462D;
  padding: 10px 0 ;
}

.about p,
.about a {
  font-family: 'BeVietnam';
  font-size: 16px;
  line-height: 30px;
}

.about p span {
  font-family: 'BeVietnam-bold';
}

.about a {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
}

.about .contact i {
  font-size: 33px;
  padding-right: 20px;
}








/
