---
layout: skeleton
site_title: Home
---

<div class="hero-header">
  {% include navbar.html %}
  <div class="hero-header-content d-flex flex-column vh-100 justify-content-center align-items-center">
    <span>NGUYEN</span>
    <span>XUAN</span>
    <span>TUNG</span>
  </div>
</div>

<div class="container greeting text-center">
  <h1>Hello ! My name is Tung.</h1>
  <p>I am a Graphic / Web design grad student and here are some of my works <i class="far fa-heart"></i></p>
</div>

<div class="container showcase" id="showcase">

  <ul class="nav nav-pills showcase-categories" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-web" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Web</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-advertising" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Advertising</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="pills-contact-tab" data-bs-toggle="pill" data-bs-target="#pills-others" type="button" role="tab" aria-controls="pills-contact" aria-selected="false">Others</button>
    </li>
  </ul>

  <div class="tab-content">

    <div class="tab-pane fade show active" id="pills-web" role="tabpanel" aria-labelledby="pills-web-tab">
      <div class="splide" id="splide-web">
        <div class="splide__arrows">
          <button class="splide__arrow splide__arrow--prev">
            <img src="/assets/pics/home/left-arrow.png">
          </button>
          <button class="splide__arrow splide__arrow--next">
            <img src="/assets/pics/home/right-arrow.png">
          </button>
        </div>
        <div class="splide__track">
          <ul class="splide__list">
            {% for project in site.projects_web %}
            <li class="splide__slide">
              <div class="showcase-item row">
                <div class="col-xs-12 col-xl-8 col-xxl-7 text-center">
                <a href="{{ project.url }}"><img src="/assets/pics/project/{{ project.thumbnail }}"></a>
                </div>
                <div class="col-xs-12 col-xl-4 col-xxl-5">
                  <h2>{{ project.name }}</h2>
                  <span class="subtitle">{{ project.subtitle }}</span>
                  <p>{{ project.short_description }}</p>
                </div>
              </div>
            {% endfor %}
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="pills-advertising" role="tabpanel" aria-labelledby="pills-advertising-tab">
      <div class="splide" id="splide-advertising">
        <div class="splide__arrows">
          <button class="splide__arrow splide__arrow--prev">
            <img src="/assets/pics/home/left-arrow.png">
          </button>
          <button class="splide__arrow splide__arrow--next">
            <img src="/assets/pics/home/right-arrow.png">
          </button>
        </div>
        <div class="splide__track">
          <ul class="splide__list">
            {% for project in site.projects_ads %}
            <li class="splide__slide">
              <div class="showcase-item row">
                <div class="col-xs-12 col-xl-8 col-xxl-7 text-center">
                <a href="{{ project.url }}"><img src="/assets/pics/project/{{ project.thumbnail }}"></a>
                </div>
                <div class="col-xs-12 col-xl-4 col-xxl-5">
                  <h2>{{ project.name }}</h2>
                  <span class="subtitle">{{ project.subtitle }}</span>
                  <p>{{ project.short_description }}</p>
                </div>
              </div>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="pills-others" role="tabpanel" aria-labelledby="pills-others-tab">
      <div class="splide" id="splide-others">
        <div class="splide__arrows">
          <button class="splide__arrow splide__arrow--prev">
            <img src="/assets/pics/home/left-arrow.png">
          </button>
          <button class="splide__arrow splide__arrow--next">
            <img src="/assets/pics/home/right-arrow.png">
          </button>
        </div>
        <div class="splide__track">
          <ul class="splide__list">
            {% for project in site.projects_others %}
            <li class="splide__slide">
              <div class="showcase-item row">
                <div class="col-xs-12 col-xl-8 col-xxl-7 text-center">
                <a href="{{ project.url }}"><img src="/assets/pics/project/{{ project.thumbnail }}"></a>
                </div>
                <div class="col-xs-12 col-xl-4 col-xxl-5">
                  <h2>{{ project.name }}</h2>
                  <span class="subtitle">{{ project.subtitle }}</span>
                  <p>{{ project.short_description }}</p>
                </div>
              </div>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
